{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "react", "jsx-a11y", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"rules": {
				"react/jsx-props-no-spreading": "off",
			}
		}],
	"ignorePatterns": "*.config.ts"
}
